<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pnpl.analysis.analysis.lines">
      <client
            class="pnpl.analysis.statemachine.analysis.AnalysisPNPL"
            name="State Machine nets">
      </client>
   </extension>
   <extension
         point="pnpl.analysis.analysis.products">
      <client
            class="pnpl.analysis.statemachine.analysis.AnalysisProducts"
            name="State Machine nets">
      </client>
   </extension>
</plugin>
