/.PNPL_variabilityRuntimeModule.java._trace
/.PNPL_variabilityStandaloneSetup.java._trace
/.PNPL_variabilityRuntimeModule.xtendbin
/.PNPL_variabilityStandaloneSetup.xtendbin
/PNPL_variabilityRuntimeModule.java
/PNPL_variabilityStandaloneSetup.java
